---

import Layout from '../layouts/Layout.astro';

---

<Layout>
    <h2 class="font-serif text-4xl font-bold my-6">
        About
    </h2>

    <p>
        This little project is a test
    </p>
</Layout>
